version: "3.1"

# Replace secret_key:
# 11,$s/SECRET_KEY=""/SECRET_KEY=""
# 11,$s/SECRET_KEY="*.*"/SECRET_KEY=""
#
# Replace all the database credentials
# 9s/entity/<...>/g
# 11,$s/base:base@database\/base/entity:entity@database\/entity/g

services:
  database:
    image: postgres:13-alpine
    ports:
      - "5432:5432"
    expose:
      - "5432:5432"
    environment:
      POSTGRES_DB: base
      POSTGRES_USER: base
      POSTGRES_PASSWORD: base
    command: [ "docker-entrypoint.sh", "-c", "wal_level=logical", "-c", "max_connections=300" ]

# {{{ fcm
  fcm_api:
    image: kennycallado/q-api-fcm:latest
    ports:
      - "8005:8000"
    expose:
      - "8005:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
    depends_on:
      - database
# }}}

# {{{ profiles - users - auth
  # {{{ profiles
  profiles_api:
    image: kennycallado/q-api-profiles:latest
    ports:
      - "8001:8000"
    expose:
      - "8001:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
    depends_on:
      - database
      - fcm_api 
  # }}}
  
  # {{{ users
  users_api:
    image: kennycallado/q-api-users:latest
    ports:
      - "8002:8000"
    expose:
      - "8002:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
    depends_on:
      - database
      - profiles_api
  # }}}

  # {{{ auth
  auth_api:
    image: kennycallado/q-api-auth:latest
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
    ports:
      - "8003:8000"
    expose:
      - "8003:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_PROFILE_URL="http://profiles_api:8000/api/v1/profile"
      - ROCKET_USER_URL="http://users_api:8000/api/v1/user"
    depends_on:
      - users_api
      - profiles_api
  # }}}
# }}}

# {{{ questions - answers
  # {{{ questions
  questions_api:
    image: kennycallado/q-api-answers:latest
    ports:
      - "8011:8000"
    expose:
      - "8011:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
    depends_on:
      - users_api
  # }}}

  # {{{ ansers
  answers_api:
    image: kennycallado/q-api-questions:latest
    ports:
      - "8012:8000"
    expose:
      - "8012:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
    depends_on:
      - questions_api
  # }}}
# }}}

# {{{ slides - forms - externals
  # {{{ slides
  slides_api:
    image: kennycallado/q-api-slides:latest
    ports:
      - "8021:8000"
    expose:
      - "8021:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
      - ROCKET_QUESTION_URL="http://questions_api:8000/api/v1/question"
    depends_on:
      - questions_api
      - answers_api
  # }}}
  
  # # {{{ forms
  # forms_api:
  #   image: kennycallado/q-api-forms:latest
  #   ports:
  #     - "8022:8000"
  #   expose:
  #     - "8022:8000"
  #   environment:
  #     - ROCKET_ADDRESS="0.0.0.0"
  #     - ROCKET_PORT=8000
  #     - ROCKET_SECRET_KEY=""
  #     - ROCKET_MIGRATIONS_RUN=true
  #     - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
  #     - ROCKET_QUESTION_URL="http://questions_api:8000/api/v1/question"
  #   depends_on:
  #     - questions_api
  #     - slides_api
  # # }}}
  # 
  # # {{{ externals
  # externals_api:
  #   image: kennycallado/q-api-externals:latest
  #   ports:
  #     - "8023:8000"
  #   expose:
  #     - "8023:8000"
  #   environment:
  #     - ROCKET_ADDRESS="0.0.0.0"
  #     - ROCKET_PORT=8000
  #     - ROCKET_SECRET_KEY=""
  #     - ROCKET_MIGRATIONS_RUN=true
  #     - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
  #     - ROCKET_QUESTION_URL="http://questions_api:8000/api/v1/question"
  #   depends_on:
  #     - questions_api
  #     - forms_api
  # # }}}
# }}}

# {{{ resources - papers
  # {{{ resources
  resources_api:
    image: kennycallado/q-api-resources:latest
    ports:
      - "8031:8000"
    expose:
      - "8031:8000"
    environment:
      - ROCKET_ADDRESS="0.0.0.0"
      - ROCKET_PORT=8000
      - ROCKET_SECRET_KEY=""
      - ROCKET_MIGRATIONS_RUN=true
      - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
      - ROCKET_SLIDE_URL="http://slides_api:8000/api/v1/slide"
      - ROCKET_FORM_URL="http://forms_api:8000/api/v1/form"
      - ROCKET_EXTERNAL_URL="http://externals_api:8000/api/v1/external"
    depends_on:
      - slides_api
  # }}}
  # # {{{ papers
  # papers_api:
  #   image: kennycallado/q-api-papers:latest
  #   ports:
  #     - "8032:8000"
  #   expose:
  #     - "8032:8000"
  #   environment:
  #     - ROCKET_ADDRESS="0.0.0.0"
  #     - ROCKET_PORT=8000
  #     - ROCKET_SECRET_KEY=""
  #     - ROCKET_MIGRATIONS_RUN=true
  #     - ROCKET_DATABASES={questions={url="postgres://base:base@database/base"}}
  #   depends_on:
  #     - resources_api
  # # }}}
# }}}
